.pinnacle-comment-wrapper {
    position: relative;
}
.pinnacle-comment {
    padding : 2px;
    position: absolute;
    background-color: rgba(173, 216, 230, 0.5);
    align-self: right;
    text-align: center;
    min-width: 200px;
    right: 30;
    bottom: 0;
}
.pinnacle-text-formatter {
	text-decoration:none;
	font-size:1rem;
	font-family:Calibri;
    color : black;
}
.pinnacle-anchor-highlight {
    background-color: rgba(150, 150, 150, 0.5);
}
