body {
    background-color: blueviolet;
    padding: 20px;
    min-width : 50px;
    min-height: 100px;
}

.button-padding {
    padding : 5px;
}

.clickbutton {
    background-color :dimgrey;
    color : white;
    padding : 2px;
}

.commenttest {
    background-color: aquamarine;
    color : chartreuse;
}