#body {
    background-color: blueviolet;
    padding: 20px;
}

.clickbutton {
    background-color :dimgrey;
    color : white;
}

.commenttest {
    background-color: aquamarine;
    color : chartreuse;
}